.filters {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: flex;
}

button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin: auto 30px auto auto;
}

button:hover {
  opacity: 90%;
}

.locations,
.amenities {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.locations {
  border-right: 1px solid #dddddd;
}

h2 {
  font-size: 16px;
  margin: 0 0 0 20px;
}

h3 {
  font-weight: 600;
  margin: 0 0 0 40px;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 0 40px;
}

ul {
  list-style-type: none;
  padding: 0 0 10px 0;
}

li {
  margin: 3px 0;
}

.popover {
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  box-sizing: content-box;
  margin-top: 70px;
  padding: 20px 0;
}

.locations:hover .popover,
.amenities:hover .popover {
  visibility: visible;
}
